In [33]:
import numpy as np
import pandas as pd
from collections import deque
import pymongo
from pymongo import MongoClient
print( 'Mongo version', pymongo.__version__)

Mongo version 3.7.0

In [34]:
import networkx as nx
import csv

In [35]:
#main db
config = {
  'host': '127.0.0.1',
  'username': 'mongo_user',
  'password': 'password',
  'authSource': 'pin'
}

client = MongoClient(**config)

db = client.pin
collection1=db.users
collection2=db.sampled_users
collection3=db.more_sampled
collection4=db.sampled1
collection5=db.sampled2

In [36]:
collection5.find().count()

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

1001

In [37]:
data = pd.DataFrame(list(collection5.find()))

In [38]:
data.head(2)

,_id,follower_count,followers,user_id
0,5b98513fab17aa0737ca7cf9,10,"[2207585, 2347, 607276, 15092978, 24751602, 66...",31018351
1,5b983063ab17aa07373d977a,107,"[2597, 5859, 10103, 19993, 39442, 387249, 4835...",2207585

In [39]:
data.drop(columns={'_id','follower_count'},inplace=True)

In [40]:
data.head()

                                           followers   user_id
0  [2207585, 2347, 607276, 15092978, 24751602, 66...  31018351
1  [2597, 5859, 10103, 19993, 39442, 387249, 4835...   2207585
2  [32771, 655368, 59965450, 24707083, 12386316, ...      2347
3  [40548736, 22282371, 60821509, 17453961, 10199...    607276
4  [1018492, 2702808, 5868116, 6009807, 8300652, ...  15092978

In [41]:
count=1001
datalist=[]
for index,row in data.iterrows():
    nodes = [row['user_id']]
    followers=row['followers']
    if len(followers)!=0:
        last=followers.pop()
        followers.append(last.strip('\n'))
    nodes.extend(followers)
    datalist.append(nodes)
    count-=1
    if count == 0:
        break

In [42]:
len(datalist)

1001

In [43]:
data.to_csv('sample4.txt',encoding='utf-8', index=False) #

In [44]:
num_rows = 1001
with open('newfun5.txt','w') as f:
    writer=csv.writer(f,delimiter=' ')
    writer.writerows(datalist[:num_rows])

G=nx.read_adjlist('newfun5.txt')
len(list(nx.connected_components(G))), len(G.edges()) / len(G.nodes())

(1, 2.861831571657301)

In [45]:
import matplotlib.pyplot as plt
%matplotlib inline

In [53]:
len(G.nodes())

583346

In [54]:
len(G.edges())

1669438

In [55]:
#for gephy
with open('adj_list_sample4_new.csv','w') as f:
    writer=csv.writer(f,delimiter=';')
    writer.writerows(datalist[:])